<h1 class="text-center">All Product</h1>
<div class="container">
  <div class="row g-2">
    <div class="col-4">
      <app-prodect-card></app-prodect-card>
    </div>
    <div class="col-4">
      <app-prodect-card></app-prodect-card>
    </div>
    <div class="col-4">
      <app-prodect-card></app-prodect-card>
    </div>
    <div class="col-4">
      <app-prodect-card></app-prodect-card>
    </div>
    <div class="col-4">
      <app-prodect-card></app-prodect-card>
    </div>
    <div class="col-4">
      <app-prodect-card></app-prodect-card>
    </div>
  </div>
</div>
<br>

